dartsort @ git+https://github.com/cwindolf/dartsort@iblsorter
dredge @ git+https://github.com/evarol/dredge@v0.2.2
hdbscan
linear_operator
ibllib
iblatlas >= 0.3.0
ibl-neuropixel
pydantic
viewephys
xgboost
pandera
pyyaml


h5py
spikeinterface